.App {
	display: flex;
	flex-direction: column;
	color: whitesmoke;
	font-size: 20px;
	height: 100vh;
}

.App > .cima img {
	border: 5px solid whitesmoke;
	width: auto;
	max-width: 100vw;
	height: clamp(10vw, 200px, 50vw);
}

.App > .baixo img {
	width: auto;
	max-width: 100vw;
	height: clamp(10vw, 400px, 50vw);
	border: 5px solid whitesmoke;
	padding: 30px;
	background-color: rgba(30, 144, 255, 0.5);
}

.App > .baixo img:hover {
	border: 5px solid blue;
	background-color: rgba(224, 224, 37, 0.5);
}

.App > .cima {
	flex: 1;
	background-color: darkgray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.App > .baixo .container-imagens {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.App > .baixo {
	flex: 2;
	background-color: gray;
}

/*.App > .cima,*/
/*.App > .baixo {*/
/*	flex: 1;*/
/*}*/
